body{
	margin: 0px; /* Often browsers have a 5px margin by deafult*/
	font-family: sans-serif;
}

h1{
	font-size: 100px;
}

h2{
	font-size: 50px;
}

section{
	max-width: 80vw;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

header{
	background-color: pink;
}

nav a{
	text-decoration: none;
	color: white;
	font-size: 20px;
	float: left;
	margin: 0px;
	line-height: 60px;
	margin-left: 1em;
	margin-right: 1em;
}

a:hover{
	text-decoration: none;
	color: black;
}

p{
	font-size:18px;
}

div{
	margin-top: 5px;
	margin-bottom: 5px;
}

.image{
	max-width: 400px;
	margin-right: 10px;
}

.camera{
	max-width: 200px;
	margin-right: 10px;
}

.title{
	background-color: pink;
	width: 100vw;
}

.spacer{
	height: 35vh;
}