body{
	margin: 0px; /* Often browsers have a 5px margin by deafult*/
	font-family: sans-serif;
}

h1{
	font-size: 100px;
}

section{
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

header{
	background-color: pink;
}

nav a{
	text-decoration: none;
	color: white;
	font-size: 20px;
	float: left;
	margin: 0px;
	line-height: 60px;
	margin-left: 1em;
	margin-right: 1em;
}

a:hover{
	text-decoration: none;
	color: black;
}

nav{

}

p{
	font-size:18px;
}

.image{
	width: 50vw;
}